{% extends 'base.html.twig' %}

{% block title %}Dungeon index{% endblock %}

{% block body %}
    <h1>Dungeon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_dungeon</th>
                <th>Descr_dungeon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dungeon in dungeons %}
            <tr>
                <td>{{ dungeon.id }}</td>
                <td>{{ dungeon.nameDungeon }}</td>
                <td>{{ dungeon.descrDungeon }}</td>
                <td>
                    <a href="{{ path('dungeon_show', {'id': dungeon.id}) }}">show</a>
                    <a href="{{ path('dungeon_edit', {'id': dungeon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dungeon_new') }}">Create new</a>
{% endblock %}
